[submodule "protobuf_catkin"]
	path = thirdparty/protobuf_catkin
	url = git@github.com:ethz-asl/protobuf_catkin.git
[submodule "glog_catkin"]
	path = thirdparty/glog_catkin
	url = git@github.com:ethz-asl/glog_catkin.git
[submodule "gflags_catkin"]
	path = thirdparty/gflags_catkin
	url = git@github.com:ethz-asl/gflags_catkin.git
[submodule "ceres_catkin"]
	path = thirdparty/ceres_catkin
	url = git@github.com:ethz-asl/ceres_catkin.git
[submodule "suitesparse"]
	path = thirdparty/suitesparse
	url = git@github.com:ethz-asl/suitesparse.git
[submodule "zeromq_catkin"]
	path = thirdparty/zeromq_catkin
	url = git@github.com:ethz-asl/zeromq_catkin.git
[submodule "eigen_catkin"]
	path = thirdparty/eigen_catkin
	url = git@github.com:ethz-asl/eigen_catkin.git
[submodule "yaml_cpp_catkin"]
	path = thirdparty/yaml_cpp_catkin
	url = git@github.com:ethz-asl/yaml_cpp_catkin.git
[submodule "sparsehash_catkin"]
	path = thirdparty/sparsehash_catkin
	url = git@github.com:ethz-asl/sparsehash_catkin.git
[submodule "nlopt"]
	path = thirdparty/nlopt
	url = git@github.com:ethz-asl/nlopt.git
[submodule "gtsam_catkin"]
	path = thirdparty/gtsam_catkin
	url = git@github.com:ethz-asl/gtsam_catkin.git
[submodule "lpsolve_catkin"]
	path = thirdparty/lpsolve_catkin
	url = git@github.com:ethz-asl/lpsolve_catkin.git
[submodule "metis_catkin"]
	path = thirdparty/metis_catkin
	url = git@github.com:ethz-asl/metis_catkin.git
[submodule "opencv3_catkin"]
	path = thirdparty/opencv3_catkin
	url = git@github.com:ethz-asl/opencv3_catkin.git
[submodule "vision_opencv"]
	path = thirdparty/vision_opencv
	url = git@github.com:ethz-asl/vision_opencv.git
[submodule "pcl_catkin"]
	path = thirdparty/pcl_catkin
	url = git@github.com:ethz-asl/pcl_catkin.git
[submodule "benchmark_catkin"]
	path = thirdparty/benchmark_catkin
	url = git@github.com:ethz-asl/benchmark_catkin.git
[submodule "gps_umd"]
	path = thirdparty/gps_umd
	url = git@github.com:ethz-asl/gps_umd.git
[submodule "opengv"]
	path = thirdparty/opengv
	url = git@github.com:ethz-asl/opengv.git
[submodule "doxygen_catkin"]
	path = thirdparty/doxygen_catkin
	url = git@github.com:ethz-asl/doxygen_catkin.git
[submodule "catkin_simple"]
	path = thirdparty/catkin_simple
	url = git@github.com:catkin/catkin_simple.git

[submodule "gurobi_catkin"]
	path = closed/gurobi_catkin
	url = git@github.com:ethz-asl/gurobi_catkin.git

[submodule "voxblox"]
	path = internal/voxblox
	url = git@github.com:ethz-asl/voxblox.git
[submodule "ethzasl_brisk"]
	path = internal/ethzasl_brisk
	url = git@github.com:ethz-asl/ethzasl_brisk.git
[submodule "ethzasl_apriltag2"]
	path = internal/ethzasl_apriltag2
	url = git@github.com:ethz-asl/ethzasl_apriltag2.git
[submodule "eigen_checks"]
	path = internal/eigen_checks
	url = git@github.com:ethz-asl/eigen_checks.git
[submodule "libnabo"]
	path = internal/libnabo
	url = git@github.com:ethz-asl/libnabo.git
[submodule "minkindr"]
	path = internal/minkindr
	url = git@github.com:ethz-asl/minkindr.git
[submodule "minkindr_ros"]
	path = internal/minkindr_ros
	url = git@github.com:ethz-asl/minkindr_ros.git
[submodule "volumetric_mapping"]
	path = internal/volumetric_mapping
	url = git@github.com:ethz-asl/volumetric_mapping.git
[submodule "mono_dense_reconstruction"]
	path = internal/mono_dense_reconstruction
	url = git@github.com:ethz-asl/mono_dense_reconstruction.git
[submodule "maplab_rovio"]
	path = internal/maplab_rovio
	url = git@github.com:ethz-asl/maplab_rovio.git
[submodule "maplab_lightweight_filtering"]
	path = internal/maplab_lightweight_filtering
	url = git@github.com:ethz-asl/maplab_lightweight_filtering.git
[submodule "kindr"]
	path = internal/kindr
	url = git@github.com:ethz-asl/kindr.git
