[submodule "protobuf_catkin"]
	path = protobuf_catkin
	url = git@github.com:ethz-asl/protobuf_catkin.git
[submodule "glog_catkin"]
	path = glog_catkin
	url = git@github.com:ethz-asl/glog_catkin.git
[submodule "gflags_catkin"]
	path = gflags_catkin
	url = git@github.com:ethz-asl/gflags_catkin.git
[submodule "ceres_catkin"]
	path = ceres_catkin
	url = git@github.com:ethz-asl/ceres_catkin.git
[submodule "suitesparse"]
	path = suitesparse
	url = git@github.com:ethz-asl/suitesparse.git
[submodule "catkin_zeromq"]
	path = catkin_zeromq
	url = git@github.com:ethz-asl/catkin_zeromq.git
[submodule "catkin_poco"]
	path = catkin_poco
	url = git@github.com:ethz-asl/catkin_poco.git
[submodule "poco_catkin"]
	path = poco_catkin
	url = git@github.com:ethz-asl/poco_catkin.git
[submodule "zeromq_catkin"]
	path = zeromq_catkin
	url = git@github.com:ethz-asl/zeromq_catkin.git
[submodule "opencv2_catkin"]
	path = opencv2_catkin
	url = git@github.com:ethz-asl/opencv2_catkin.git
[submodule "eigen_catkin"]
	path = eigen_catkin
	url = git@github.com:ethz-asl/eigen_catkin.git
[submodule "aslam_cv2"]
	path = aslam_cv2
	url = git@github.com:ethz-asl/aslam_cv2.git
